
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Natural Language Processing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="text_sums" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	<script>

	function escapeHtml(text) {
		var map = {
			'&': '&amp;',
			'"': '&quot;',
			"'": '&#039;'
		};

		return text.replace(/[&"']/g, function(m) { return map[m]; });
	}

	function generate() {
		var html= "";
		var text= "";
		
		// hint
		text += $('#input_hint').val().toLowerCase()
		text += " &lt;H&gt; "

		// gender
		text += $('#input_gender').val()
		text += " &lt;G&gt; "		

		// age
		text += $('#input_age').val()
		text += " &lt;A&gt; "

		// ethnicity
		text += $('#input_ethnicity').val().toLowerCase()
		text += " &lt;E&gt; "
		
		// diagnoses
		text += $('#input_diagnosis1').val().toLowerCase()

		if($('#input_diagnosis2').val()!=""){
			text += " | " + $('#input_diagnosis2').val().toLowerCase()
		}
		if($('#input_diagnosis3').val()!=""){
			text += " | " + $('#input_diagnosis3').val().toLowerCase()
		}
		if($('#input_diagnosis4').val()!=""){
			text += " | " + $('#input_diagnosis4').val().toLowerCase()
		}
		if($('#input_diagnosis5').val()!=""){
			text += " | " + $('#input_diagnosis5').val().toLowerCase()
		}
		text += " &lt;D&gt; "
			
		// procedures
		text += $('#input_procedure1').val().toLowerCase()

		if($('#input_procedure2').val()!=""){
			text += " | " + $('#input_procedure2').val().toLowerCase()
		}
		if($('#input_procedure3').val()!=""){
			text += " | " + $('#input_procedure3').val().toLowerCase()
		}
		if($('#input_procedure4').val()!=""){
			text += " | " + $('#input_procedure4').val().toLowerCase()
		}
		if($('#input_procedure5').val()!=""){
			text += " | " + $('#input_procedure5').val().toLowerCase()
		}
		text += " &lt;P&gt; "
		
		// medications
		text += $('#input_medication1').val().toLowerCase() + " , " + $('#input_medication_dosage1').val().toLowerCase()
		if($('#input_medication2').val()!=""){
			text += " | " + $('#input_medication2').val().toLowerCase()+ " , " + $('#input_medication_dosage2').val().toLowerCase()
		}
		if($('#input_medication3').val()!=""){
			text += " | " + $('#input_medication3').val().toLowerCase()+ " , " + $('#input_medication_dosage3').val().toLowerCase()
		}
		if($('#input_medication4').val()!=""){
			text += " | " + $('#input_medication4').val().toLowerCase()+ " , " + $('#input_medication_dosage4').val().toLowerCase()
		}
		if($('#input_medication5').val()!=""){
			text += " | " + $('#input_medication5').val().toLowerCase()+ " , " + $('#input_medication_dosage5').val().toLowerCase()
		}
		text += " &lt;M&gt; "

		// microbiology results
		text += $('#input_micro1').val().toLowerCase() + " : " + $('#input_micro_result1').val().toLowerCase()
		if($('#input_micro2').val()!=""){
			text += " | " + $('#input_micro2').val().toLowerCase()+ " : " + $('#input_micro_result2').val().toLowerCase()
		}
		if($('#input_micro3').val()!=""){
			text += " | " + $('#input_micro3').val().toLowerCase()+ " : " + $('#input_micro_result3').val().toLowerCase()
		}
		if($('#input_micro4').val()!=""){
			text += " | " + $('#input_micro4').val().toLowerCase()+ " : " + $('#input_micro_result4').val().toLowerCase()
		}
		if($('#input_micro5').val()!=""){
			text += " | " + $('#input_micro5').val().toLowerCase()+ " : " + $('#input_micro_result5').val().toLowerCase()
		}
		text += " &lt;T&gt; "
		
		// lab results
		text += $('#input_lab1').val().toLowerCase() + " , " + $('#input_lab_result1').val().toLowerCase() + " , " + $('#input_lab_unit1').val().toLowerCase()
		if($('#input_lab2').val()!=""){
			text += " | " + $('#input_lab2').val().toLowerCase()+ " , " + $('#input_lab_result2').val().toLowerCase() + " , " + $('#input_lab_unit2').val().toLowerCase()
		}
		if($('#input_lab3').val()!=""){
			text += " | " + $('#input_lab3').val().toLowerCase()+ " , " + $('#input_lab_result3').val().toLowerCase() + " , " + $('#input_lab_unit3').val().toLowerCase()
		}
		if($('#input_lab4').val()!=""){
			text += " | " + $('#input_lab4').val().toLowerCase()+ " , " + $('#input_lab_result4').val().toLowerCase() + " , " + $('#input_lab_unit4').val().toLowerCase()
		}
		if($('#input_lab5').val()!=""){
			text += " | " + $('#input_lab5').val().toLowerCase()+ " , " + $('#input_lab_result5').val().toLowerCase() + " , " + $('#input_lab_unit5').val().toLowerCase()
		}
		text += " &lt;L&gt; "

		// model
		model = $('#model').val().toLowerCase()
		resource = $('#resource').val().toLowerCase()

		$.ajax({
				url: "/generate",
				type: "POST",
				data: {text:text, model:model, resource:resource},
				beforeSend: function() {
					$("#loaderDiv").show();
				},
				success: function(data) {
					$("#loaderDiv").hide();
				}
			}).done(function(response) {
			var html = "<b>Discharge Summary :</b> <br>";
			response = response.replace(/<PAR>/g, '<br/>');
			response = escapeHtml(response);
			
			html += response;
			$(".text_out").empty();
			$(".text_out").append(html);
			});
	};

	</script>
	</head>
	<body>

	<div id="fh5co-page">

		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo"><a href="home"><img src="static/images/mimic_logo.png" alt="Free HTML5 Bootstrap Website Template" width="65%" ></a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><a href="home">Home</a></li>
					<li class="fh5co-active"><a href="model_demo">Model Demo</a></li>
					<li><a href="installation">Installation</a></li>
				</ul>
			</nav>

			<div class="fh5co-footer">
				<p><small>&copy; 2019 Ali Amin-Nejad</span> <br><span>Template by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> </span></small></p>
				<ul>
					<li><a href="https://github.com/amin-nejad" target="_blank"><img src="static/images/github_icon.png" alt="github_icon" width="20" height="20"></a></li>
					<li><a href="https://twitter.com/amin_nejad" target="_blank"><img src="static/images/twitter_icon.png" alt="twitter_icon" width="20" height="20"></a></li>
					<li><a href="https://www.linkedin.com/in/ali-amin-nejad" target="_blank"><img src="static/images/linkedin_icon.png" alt="linkedin_icon" width="20" height="20"></a></li>
				</ul>
			</div>

		</aside>

		<div id="fh5co-main">

			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-7 animate-box">
						<h1 class="animate-box" data-animate-effect="fadeInLeft">Model Demo</h1>
						<p class="fh5co-lead animate-box" data-animate-effect="fadeInLeft">
						</p>
						<p class="animate-box" data-animate-effect="fadeInLeft">
							Enter the details of a particular patient below, choose the model you wish to use and automatically generate a discharge summary for that patient!
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Hint
							</i> 
							<br>
							<input 
								type="text" 
								id="input_hint" 
								style="height:25px; font-size:14pt;width: 50%;"
								value="Admission date : [ 2164/8/31 ] Discharge date : [">
						</i>
						<br><br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Gender
							</i> 
							<br>
							<select 
								name="gender" 
								id="input_gender"
								style="height:25px; font-size:14pt;width: 5%;">
									<option value="M">M</option>
									<option value="F">F</option>
							</select>
						</i>
						<br><br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Age
							</i> 
							<br>
							<input 
								type="number" 
								id="input_age" 
								style="height:25px; font-size:14pt;width: 10%;"
								value=87>
						</i>
						<br><br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Ethnicity
							</i> 
							<br>
							<select 
								name="ethnicities" 
								id="input_ethnicity"
								style="height:25px; font-size:14pt;width: 10%;">
									<option value="white">White</option>
									<option value="black">Black</option>
									<option value="hispanic">Hispanic</option>
									<option value="asian">Asian</option>
									<option value="other">Other</option>
							</select>
						</i>
						<br><br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Diagnoses
							</i> 
							<br>
							<input 
								type="text" 
								id="input_diagnosis1" 
								style="height:25px; font-size:14pt;width: 50%;"
								value="metastatic pancreatic cancer"> <br>
							<input 
								type="text" 
								id="input_diagnosis2" 
								style="height:25px; font-size:14pt;width: 50%;"><br>
							<input 
								type="text" 
								id="input_diagnosis3" 
								style="height:25px; font-size:14pt;width: 50%;"><br>
							<input 
								type="text" 
								id="input_diagnosis4" 
								style="height:25px; font-size:14pt;width: 50%;"><br>
							<input 
								type="text" 
								id="input_diagnosis5" 
								style="height:25px; font-size:14pt;width: 50%;"><br>
						</i>
						<br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Procedures
							</i> 
							<br>
							<input 
								type="text" 
								id="input_procedure1" 
								style="height:25px; font-size:14pt;width: 50%;"
								value="complete pancreatectomy"> <br>
							<input 
								type="text" 
								id="input_procedure2" 
								style="height:25px; font-size:14pt;width: 50%;"><br>
							<input 
								type="text" 
								id="input_procedure3" 
								style="height:25px; font-size:14pt;width: 50%;"><br>
							<input 
								type="text" 
								id="input_procedure4" 
								style="height:25px; font-size:14pt;width: 50%;"><br>
							<input 
								type="text" 
								id="input_procedure5" 
								style="height:25px; font-size:14pt;width: 50%;"><br>
						</i>
						<br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Medications
							</i> 
							<br>
							<i style="font-size: small;">Drug &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
									Dosage</i> <br>
							<input 
								type="text" 
								id="input_medication1" 
								style="height:25px; font-size:14pt;width: 20%"
								value="warfarin">&ensp; 
							<input 
								type="text" 
								id="input_medication_dosage1" 
								style="height:25px; font-size:14pt;width: 10%;"
								value="1mg Tablet"><br>
							<input 
								type="text" 
								id="input_medication2" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_medication_dosage2" 
								style="height:25px; font-size:14pt;width: 10%;"><br>
							<input 
								type="text" 
								id="input_medication3" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_medication_dosage3" 
								style="height:25px; font-size:14pt;width: 10%;"><br>
							<input 
								type="text" 
								id="input_medication4" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_medication_dosage4" 
								style="height:25px; font-size:14pt;width: 10%;"><br>
							<input 
								type="text" 
								id="input_medication5" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_medication_dosage5" 
								style="height:25px; font-size:14pt;width: 10%;"><br>
						</i>
						<br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Microbiology Tests
							</i> 
							<br>
							<i style="font-size: small;">Location &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
								 Organisms</i> <br>
							<input 
								type="text" 
								id="input_micro1" 
								style="height:25px; font-size:14pt;width: 20%"
								value="urine">&ensp; 
							<input 
								type="text" 
								id="input_micro_result1" 
								style="height:25px; font-size:14pt;width: 20%;"
								value="staphylococcus species"><br>
							<input 
								type="text" 
								id="input_micro2" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_micro_result2" 
								style="height:25px; font-size:14pt;width: 20%;"><br>
							<input 
								type="text" 
								id="input_micro3" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_micro_result3" 
								style="height:25px; font-size:14pt;width: 20%;"><br>
							<input 
								type="text" 
								id="input_micro4" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_micro_result4" 
								style="height:25px; font-size:14pt;width: 20%;"><br>
							<input 
								type="text" 
								id="input_micro5" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_micro_result5" 
								style="height:25px; font-size:14pt;width: 20%;"><br>
						</i>
						<br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Lab Tests
							</i> 
							<br>
							<i style="font-size: small;">Test &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
									Result &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
									Units</i> <br>
							<input 
								type="text" 
								id="input_lab1" 
								style="height:25px; font-size:14pt;width: 20%"
								value="Calcium">&ensp; 
							<input 
								type="text" 
								id="input_lab_result1" 
								style="height:25px; font-size:14pt;width: 10%;"
								value="10.0">&ensp; 
							<input 
								type="text" 
								id="input_lab_unit1" 
								style="height:25px; font-size:14pt;width: 10%;"
								value="mg/dL">&ensp; 
								<input type="checkbox" name="abnormal1" value="False"> <i style="font-size: small;">Abnormal</i> <br>
							<input 
								type="text" 
								id="input_lab2" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_lab_result2" 
								style="height:25px; font-size:14pt;width: 10%;">&ensp;
							<input 
								type="text" 
								id="input_lab_unit2" 
								style="height:25px; font-size:14pt;width: 10%;">&ensp; 
								<input type="checkbox" name="abnormal2" value="False"> <i style="font-size: small;">Abnormal</i> <br>
							<input 
								type="text" 
								id="input_lab3" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_lab_result3" 
								style="height:25px; font-size:14pt;width: 10%;">&ensp;
							<input 
								type="text" 
								id="input_lab_unit3" 
								style="height:25px; font-size:14pt;width: 10%;">&ensp; 
								<input type="checkbox" name="abnormal3" value="False"> <i style="font-size: small;">Abnormal</i> <br>
							<input 
								type="text" 
								id="input_lab4" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_lab_result4" 
								style="height:25px; font-size:14pt;width: 10%;">&ensp; 
							<input 
								type="text" 
								id="input_lab_unit4" 
								style="height:25px; font-size:14pt;width: 10%;">&ensp; 
								<input type="checkbox" name="abnormal4" value="False"> <i style="font-size: small;">Abnormal</i> <br>
							<input 
								type="text" 
								id="input_lab5" 
								style="height:25px; font-size:14pt;width: 20%;">&ensp;
							<input 
								type="text" 
								id="input_lab_result5" 
								style="height:25px; font-size:14pt;width: 10%;">&ensp;
							<input 
								type="text" 
								id="input_lab_unit5" 
								style="height:25px; font-size:14pt;width: 10%;">&ensp; 
								<input type="checkbox" name="abnormal5" value="False"> <i style="font-size: small;">Abnormal</i> <br>
						</i>
						<br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Model
							</i> 
							<br>
							<select 
								name="model" 
								id="model"
								style="height:25px; font-size:14pt;width: 15%;">
									<option value="Transformer">Transformer</option>
									<option value="GPT-2">GPT-2</option>
							</select>
						</i>
						<br><br>
						<i 
							class="fh5co-lead">
							<i 
								style="font-size: large;">
									Model Dataset
							</i> 
							<br>
							<select 
								name="resource" 
								id="resource"
								style="height:25px; font-size:14pt;width: 15%;">
									<option value="Full">Full</option>
									<option value="Low">Low</option>
							</select>
						</i>
						<br><br>
						<p 
						class="fh5co-lead">
						<button 
							id="text_out_clicked" 
							onclick="generate()" 
							class="btn btn-primary btn-outline">
								Submit
						</button>
						</p>
						<div id="loaderDiv" style="display: none">
							<img src="static/images/spinner.gif">
						</div>
						<p 
							class="text_out">
						</p>
					</div>						
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- Stellar -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="static/js/jquery.countTo.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="static/js/main.js"></script>

	</body>
</html>

